* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #75b79e;
    margin-bottom: 47px;
    text-align: center;
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #eef9bf;
    padding-top: 40px;
}

.jogo1 {
    width: 80%;
    height: 163px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    perspective: 1000px;
}

.jogo2 {
    width: 80%;
    height: 163px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    perspective: 1000px;
}

.verso .frente {
    width: 100px;
    height: 100px;
}

.frente {
    display: none;
}

.verso {
    display: flex;
}

.carta {
    background-color: #a7e9af;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    flex-shrink: 0;
    border: 1px solid #99cea8;
    transition: all 0.6s;
    transform-style: preserve-3d;
}

.carta:hover {
    cursor: pointer;
}

.virada {
    transform: rotateY(180deg);
}

.virada .frente {
    display: flex;
    transform: rotateY(-180deg);
}

.virada .verso {
    display: none;
}

.certo .frente {
    display: flex;
}

.certo .verso {
    display: none;
}

.certo:hover {
    cursor: default;
}

.carta > img {
    width: 100px;
    height: 100px;
    transition: all 0s;
}

.impedir-clique {
    top: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
  
@media (max-width: 613px) {
    h1 {
        font-size: 36px;
    }
    .jogo1 {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .jogo2 {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .carta {
        margin-bottom: 34px;
    }
}