* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #75b79e;
    margin-bottom: 47px;
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #eef9bf;
    padding-top: 40px;
}

.jogo {
    width: 80%;
    height: 326px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.verso .frente {
    width: 100px;
    height: 100px;
}

.frente {
    display: none;
}

.verso {
    display: flex;
}

.carta {
    background-color: #a7e9af;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    flex-shrink: 0;
    backface-visibility: hidden;
}

.carta > img {
    width: 100px;
    height: 100px;
}

@media (max-width: 615px) {
    h1 {
        font-size: 36px;
    }
}